{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
	
	<div class="container">
		<a class="navbar-brand" href="{% url 'index' %}">
			<img src="{% static 'img/logo.png' %}" class="logo" alt="">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<ul class="navbar-nav">
				<li 	{% if "about" in request.path %}
						class="nav-item active mr-3"
						{% else  %}
						class="nav-item mr-3"
						{% endif %}
						>
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					  EN
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					  {% comment %} {% get_current_language as LANGUAGE_CODE %}
					  {% get_available_languages as LANGUAGES %}
					  {% get_language_info_list for LANGUAGES as languages %}
		  
					  {% for lang in languages %}
						<li>
						<a class="dropdown-item" href="/{{ lang.code }}/">
							{{ lang.name_local }}
						</a>
						</li>
					  {% endfor %} {% endcomment %}
					</ul>
				  </li>
				<li
					{% if "/" == request.path %}
						class="nav-item active mr-3"
					{% else  %}
						class="nav-item mr-3"
					{% endif %}
					>
					<a class="nav-link" href="{% url 'index' %}">Home</a>
				</li>
				<li
					{% if "about" in request.path %}
						class="nav-item active mr-3"
					{% else  %}
						class="nav-item mr-3"
					{% endif %}
					>
					<a class="nav-link" href="{% url 'about' %}">About us</a>
				</li>
				<li
					{% if "about" in request.path %}
						class="nav-item active mr-3"
					{% else  %}
						class="nav-item mr-3"
					{% endif %}
					>
					<a class="nav-link" href="{% url 'investor' %}">Investors</a>
				</li>
				<li
					{% if "listings" in request.path %}
						class="nav-item active mr-3"
					{% else  %}
						class="nav-item mr-3"
					{% endif %}
					>
					<a class="nav-link" href="{% url 'listings' %}">Our Listings</a>
				</li>
			</ul>
			<ul class="navbar-nav ml-auto">
				{% if user.is_authenticated %}
					<li
						{% if "dashboard" in request.path %}
							class="nav-item active mr-3"
						{% else  %}
							class="nav-item mr-3"
						{% endif %}
						>
						<a class="nav-link" href="{% url 'dashboard' %}">
							Welcome {{ user.username }}
						</a>
					</li>
					<li class="nav-item mr-3">
						<a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
							Logout
						</a>
						<form action="{% url 'logout' %}" method="POST" id="logout">
							{% csrf_token %}
							<input type="hidden" name="">
						</form>
					</li>
				{% else %}
					<li
						{% if "register" in request.path %}
							class="nav-item active mr-3"
						{% else  %}
							class="nav-item mr-3"
						{% endif %}
						>
						<a class="nav-link" href="{% url 'register' %}">
						Register</a>
					</li>
					<li
						{% if "login" in request.path %}
							class="nav-item active mr-3"
						{% else  %}
							class="nav-item mr-3"
						{% endif %}
						>
						<a class="nav-link" href="{% url 'login' %}">
						Login</a>
					</li>
				<ul class="">
				<!-- Facebook -->
				<a style="color: #3b5998;" href="#!" role="button"
				><i class="fab fa-facebook-f fa-lg"></i
				></a>

				<!-- Twitter -->
				<a style="color: #55acee;" href="#!" role="button"
				><i class="fab fa-twitter fa-lg"></i
				></a>

				<!-- Google -->
				<a style="color: #3b5998;" href="#!" role="button"
				><i class="fab fa-linkedin fa-lg"></i
				></a>

				<!-- Instagram -->
				<a style="color: #dd4b39;" href="#!" role="button"
				><i class="fab fa-instagram fa-lg"></i
				></a>
				</ul>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>