{% extends 'base.html' %}
{% load static %}

{% block title %}
    - About Us
{% endblock title %}
{% block content %}
        <section id="showcase-inner" class="py-5 text-white">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-12">
              <h1 class="display-4">About us</h1>
              <p class="lead">WeOwn Real Estate is the best real estate currently in Canada. Our mission is to service 
                people who are deem fit to get apartments....
              </p>
            </div>
          </div>
        </div>
      </section>

      <!-- Breadcrumb -->
      <section id="bc" class="mt-3">
        <div class="container">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'index' %}">
                  <i class="fas fa-home"></i> Home</a>
              </li>
              <li class="breadcrumb-item active"> About</li>
            </ol>
          </nav>
        </div>
      </section>

      <section id="about" class="py-4">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <h2>We offer value for your home investment</h2>
              <p class="lead">Ultimately, our presence in the local market gives us a significant advantage over our competitors, allowing us to provide our clients with the best possible services, resources, and assistance. We are confident that we can help our clients achieve their goals and deliver exceptional results.                 Choose WeOwn Real Estate as your trusted partner for all your real estate needs. Contact us today to learn more about our services and how we can help you succeed. </p>
              <img src="{% static 'img/about.jpg' %}" alt="">
              <p class="mt-4">as the leading real estate company in Canada that provides exceptional services to our clients. Our mission is to service people, and we have built a reputation for delivering outstanding results. 
                As a real estate company, we have a unique advantage over our competitors - our deep understanding of the local market. Our established presence in the area, coupled with our extensive relationships with current and potential clients, has allowed us to provide our clients with unmatched value. </p>
            </div>
            <div class="col-md-4">
              {% if mvp_realtors %}
                {% for realtor in mvp_realtors %}
                    <div class="card">
                      <img class="card-img-top" src="{{ realtor.photo.url }}" alt="Property Agent">
                      <div class="card-body">
                        <h5 class="card-title">Official Property Realtor</h5>
                        <h6 class="text-secondary">{{ realtor.name }}</h6>
                        <p class="card-text">{{ realtor.description }}</p>
                      </div>
                    </div>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
      </section>

      <!-- Work -->
      <section id="work" class="bg-dark text-white text-center">
        <h2 class="display-4">We Work For You</h2>
        <p class="lead">At WeOwn Real Estate, our focus is entirely on serving you. Our team of professionals is dedicated to working tirelessly to help you achieve your real estate goals. Whether you are buying, selling, or leasing, we are here to provide you with the expertise and support you need to make informed decisions.</p>
        <hr>
        <a href="{% url 'listings' %}" class="btn btn-secondary text-white btn-lg">View Our Featured Listings</a>
      </section>

      <!-- Team -->
      <section id="team" class="py-5">
        <div class="container">
          <h2 class="text-center">Our Team</h2>
          <div class="row text-center">

            {% if realtors %}
                {% for realtor in realtors %}
                    <div class="col-md-4">
                        <img src="{{ realtor.photo.url }}" alt="" class="rounded-circle mb-3">
                        <h4>{{ realtor.name }}</h4>
                        <p class="text-success">
                            <i class="fas fa-award text-success mb-3"></i> Realtor</p>
                        <hr>
                        <p>
                            <i class="fas fa-phone"></i> {{ realtor.phone }}</p>
                        <p>
                          <i class="fas fa-envelope-open"></i> {{ realtor.email }}</p>
                    </div>
                {% endfor %}
            {% else %}
              <div class="col-md-12">
                  <p>New Property updates coming soon!</p>
              </div>
            {% endif %}
          </div>
        </div>
      </section>
{% endblock content %}