{% extends 'base.html' %}
{% load humanize %}
{% block title %}
	- Welcome
{% endblock title %}
{% block content %}
	<!-- Showcase -->
	<section id="showcase">
		<div class="container text-center">
			<div class="home-search p-5">
				<div class="overlay p-5">
					<h1 class="display-4 mb-4">
						Future of investment in property
					</h1>
					<p class="lead">It's so simple to find the best real estate deals in your area. It's one easy search!</p>
					<div class="search">
						<form action="{% url 'search' %}">
							<!-- Keywords -->
							<div class="form-row">
								<div class="col-md-12 mb-3">
									<label class="sr-only">Keywords</label>
									<input type="text" name="keywords" class="form-control"
										   placeholder="Keyword (Taller Ceilings, House with garden, etc)"
										   value="{{ values.keywords }}" required>
								</div>
							</div>
							<div class="form-row">
								<!-- State -->
								<div class="col-md-6 mb-3">
									<label class="sr-only">State/Province</label>
									<select name="state" class="form-control">
										<option selected="true" disabled="disabled">State/Province</option>
										{% for key,value in state_choices.items %}
										<option value="{{ key }}"
												{% if key == values.state %}
												selected
											{% endif %}
										>{{ value }}</option>
										{% endfor %}
									</select>
								</div>
								<div class="col-md-6 mb-3">
									<label class="sr-only">Bedrooms</label>
									<select name="bedrooms" class="form-control">
										<option selected="true" disabled="disabled">Bedrooms</option>
										{% for key,value in bedroom_choices.items %}
										<option value="{{ key }}"
												{% if key == values.bedrooms %}
												selected
											{% endif %}
										>{{ value }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="form-row">
								<!-- City -->
								<div class="col-md-12 mb-3">
									<label class="sr-only">City</label>
									<input type="text" name="city" class="form-control" placeholder="City"
										   value="{{ values.city }}">
								</div>
							</div>
							<!-- Price -->
							<div class="form-row">
								<div class="col-md-12 mb-3">
									<select name="price" class="form-control" id="type">
										<option selected="true" disabled="disabled">Price</option>
										{% for key,value in price_choices.items %}
										<option value="{{ key }}"
												{% if key == values.price %}
												selected
											{% endif %}
										>{{ value }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<button class="btn btn-secondary btn-block mt-4" onclick="searchAvailability()">Search availability</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<script>
		function searchAvailability() {
			// check if user is logged in
			if (!userLoggedIn()) {
				// show popup to register
				var popup = document.createElement("div");
				popup.classList.add("popup");
				var content = document.createElement("div");
				content.classList.add("popup-content");
				content.innerHTML = 
				"<h3>Welcome! <br> Create free Account to get:</h3><p><ul><li>Instant access to photos & features</li> <li>Save searches & homes across devices</li></ul></><br><button class='popup-btn' onclick='closePopup()'>Close</button>";
				popup.appendChild(content);
				document.body.appendChild(popup);
			} else {
				// user is logged in, perform search
				document.querySelector("form").submit();
			}
		}
	
		function userLoggedIn() {
			// check if user is logged in
			// return true or false
		}
	
		function closePopup() {
			var popup = document.querySelector(".popup");
			document.body.removeChild(popup);
		}
	</script>
	
	<style>
		.popup {
			display: flex;
			justify-content: center;
			align-items: center;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.7);
			z-index: 9999;
		}
	
		.popup-content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background-color: #fff;
			padding: 20px;
			border-radius: 5px;
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
		}
	
		.popup h2 {
			margin-top: 0;
			margin-bottom: 20px;
		}
	
		.popup-btn {
			background-color: #333;
			color: #fff;
			border: none;
			border-radius: 5px;
			padding: 10px 20px;
			font-size: 16px;
			cursor: pointer;
		}
	
		.popup-btn:hover {
			background-color: #555;
		}
	</style>
	
	  
	
	<br>
	<!-- Alerts -->
	{% include 'partials/_alerts.html' %}
	<!-- Listings -->
	<section id="listings" class="py-5">
		<div class="container">
			<div class="row">
				{% if listings %}
					{% for listing in listings %}
						<!-- Listing 1 -->
						<div class="col-md-6 col-lg-4 mb-4">
							<div class="card listing-preview">
								<img class="card-img-top" src="{{ listing.photo_main.url }}" alt="">
								<div class="card-img-overlay">
									<h2>
									<span class="badge badge-secondary text-white">${{ listing.price | intcomma }}</span>
									</h2>
								</div>
								<div class="card-body">
									<div class="listing-heading text-center">
										<h4 class="text-primary">{{ listing.title }}</h4>
										<p>
											<i class="fas fa-map-marker text-secondary"></i>
										{{listing.city}} {{listing.state}}, {{listing.zipcode}}</p>
									</div>
									<hr>
										<div class="row py-2 text-secondary">
											<div class="col-6">
												<i class="fas fa-th-large"></i> Sqft: {{listing.sqft}}</div>
											<div class="col-6">
												<i class="fas fa-car"></i> Garage: {{listing.garage}}
											</div>
										</div>

									<div class="row py-2 text-secondary">
										<div class="col-6">
										<i class="fas fa-bed"></i> Bedrooms: {{listing.bedrooms}}</div>
										<div class="col-6">
										<i class="fas fa-bath"></i> Bathrooms: {{listing.bathrooms}}</div>
									</div>
									<hr>
									<div class="row py-2 text-secondary">
										<div class="col-6">
										<i class="fas fa-user"></i> {{ listing.realtor }}</div>
									</div>
									<div class="row text-secondary pb-2">
										<div class="col-12">
										<i class="fas fa-clock"></i> {{ listing.list_date | timesince }}</div>
									</div>
									<hr>
									<a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#registerModal">Details</a>

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registerModalLabel">Welcome!<br> Create a free Account to get:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><ul><li>Instant access to photos & features</li> <li>Save searches & homes across devices</li></ul></p>
        <!-- Add your registration form here -->
      </div>
	  <div class="modal-footer">
		
		<a href="{% url 'register' %}" class="btn btn-primary">Register</a>
	</div>
    </div>
  </div>
</div>

								</div>
							</div>
						</div>
					{% endfor %}
				{% else %}
					<div class="col-md-12">
						<p>No Listings Available</p>
					</div>
				{% endif %}
			</div>
		</div>
	</section>
{% endblock content %}